<p>menu works!</p>
<div class="sidebar">
    <ul class="side-menu">
        <li><a routerLink="/admin/products">Products</a></li>
        <li><a routerLink="/admin/products/create">Add Product</a></li>
    </ul>
</div>
