<p>products works!</p>
<a href="" class="btn">Add Products</a>
<table>
    <thead>
        <tr>
        <th>#id</th>
        <th>title</th>
        <th>image</th>
        <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>helloooooo</td>
            <td>helloooooo</td>
            <td>helloooooo</td>
            <td>
                <a href="" class="btn">Edit</a>
                <button class="btn btn-del">Delete</button>
            </td>
            
        </tr>
    </tbody>
</table>