<p>product-edit works!</p>
<form>
    <label>Title</label>
    <input type="text" name="title">

    <label>Image</label>
    <input type="text" name="image">

    <button type="submit">Add Product</button>
</form>